@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro:ital,wght@0,300;1,300&family=Girassol&display=swap');
td{
    color:black;
}

.setinside{
    background-color:cornsilk;
    color:black;
    font-size: larger;
    font-weight: bolder;
    box-sizing: border-box;
    border:3px solid white;
    border-radius:9px;
}
[data-test="table-foot"]{
    display:none;
}

*{
    
    font-family: 'Crimson Pro', serif;

    margin:0;
    padding:0;
}